sign{
    display: flex;
    flex-direction: column;
   margin: 20rem;
    border: 1px solid black;
    margin-left: 35%;
    margin-right: 35%;
    height: 12.5rem;
    border-radius: 5px;
    background-color: rgb(52, 2, 38);
}

.signhead{
    text-align: center;
}

.submitbtn{
background-color: black;
color: white;
margin: 0 25%;
}

.anchor{
    text-decoration: none;
    font-size: 20px;
    color: black;
    margin-top: 0.5rem;
}
#popbtn{
    background-color: white;
    border:2px solid black;
    border-radius: 3px;
    
    color: black;
    height: 40px;
                width: 170px;
                background-color:white;
                color :rgb(113, 23, 23);
                position: fixed;
                top: 40px;
                right: 50px;
  }

  #exppre{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1rem;
    border-bottom: 1px solid black;
    margin-left: 25%;
    margin-right: 25%;
  }

  .elements{
    margin: 5.25rem;
    margin-bottom: 0.5rem;
color: bisque;
  }

  .Aexp{
    display: flex;
    justify-content: center;
    margin-left: 4.5rem;

  }

  .span{
    margin-left: 7.75rem;
    margin-top: 0.5rem;
    width: 50px;
    color: aqua;
  }
.pre{
height: 40px;
width: 65px;
background-color: blueviolet;
color: whitesmoke;
cursor: pointer;
}

.popup-container {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
background-color: rgba(0, 0, 0, 0.5);

display: none;
align-items: center;
justify-content: center;
}

.popup-container.active {
display: flex;
}

.popup {
background-color: #fff;
border-radius: 5px;
box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
padding: 2rem;
position: relative;
width: 500px;
}

.popup button {
background-color: #fff;
color: rebeccapurple;
font-size: 2rem;
position: absolute;
top: 10px;
right: 10px;
}

.popele{
font-size: 25px;
margin: 1rem;

}

.popexp{
font-size: 20px;
margin: 2.75rem;
width:10px;
color:red
} 

.mydiv{
margin-top:1rem;
color: blue;
}

#back{

margin-left: 47%;
margin-top: 5rem;
text-decoration: none;
font-size: 20px;
color: greenyellow;
}
.label{
    font-size: 25px;
    display: block;
    margin-bottom: 0.5rem;
    font-size: 22.5px;
    margin: 8px;
    
 }
 .nav{
   
    background-color: rgb(101, 49, 215);
    height: 150px;
    display: flex;
    justify-content: center;
    font-size: 50px;
}
#addexpense{
    background-color: black;
    color: aliceblue;
    cursor: pointer;
    
    }
    .submitbtn{
        background-color: black;
        color: white;
        margin: 0 35%;
        margin-top: 0.5rem;
        border: 1px solid black;
        border-radius: 4px;
        cursor: pointer;
        }
        .sign{
            display: flex;
            flex-direction: column;
           margin: 20rem;
            border: 1px solid black;
            margin-left: 35%;
            margin-right: 35%;
            height: 22.5rem;
            border-radius: 5px;
            background-color: rgb(228, 28, 243);
        }
        .loginForm{
            display: flex;
            flex-direction: column;
           margin: 20rem;
            border: 1px solid black;
            margin-left: 35%;
            margin-right: 35%;
            height: 16 rem;
            border-radius: 5px;
            background-color: rgb(110, 10, 90);
        
        }
        #loginBtn{
            margin: 0 25%;
            margin-top:0.5rem;
            background-color: black;
            color:white
          
    
        }      
        .input{
            height:25px;
        }
        .anchor{
            text-decoration: none;
            font-size: 20px;
            color: black;
            margin-top: 0.5rem;
            font-weight: bold;
        }
        #fpassbtn{
            margin: 0.5rem 25%;
            color: black;
            text-decoration: none;
            font-size: 17.5px;
        
        }
        #anchorSign{
            text-decoration: none;
            color: rgb(244, 235, 235);
            font-weight: bold;
            font-size: 20px;
            }
            .formitem{
                margin: 8px;
            }
            #premiumbtn{
                height: 40px;
                width: 100px;
                background-color: rgb(238, 238, 244);
                color :rgb(112, 18, 18);
                position: fixed;
                top: 5px;
                right:50px;
            }
            #downloadexpense{
                height: 40px;
                width: 70px;
                background-color:white;
                color :rgb(113, 23, 23);
                position: fixed;
                top: 5px;
                right: 150px;
            }
            .expenseform{
                background-color: rgb(81, 40, 40);
                color:white;
                border: 2px white;
                border-radius: 5px;
                width: fit-content;
                text-align: center;
                
            }
            .expenses{
                display: flex;
                border-radius: 5px;
                margin:5px;
                padding: 2px;
                background-color: rgb(189, 173, 173);
                color:black;
                height:  fit-content;
                border-radius: 10px;
                border:2px solid black ;
    
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            }
            #pagenation{
                display: flex;
            }
            .page{
                border: 1px solid red;
                width: fit-content;
                height: fit-content;
                background-color: white;
                color:black;
               margin:5px;
            
            
            }
            #expenses{
                display: block;
                color:rgb(198, 180, 180);
                background-color: rgb(34, 182, 18);
            }
            .expensediv{
                display: block;
                border-radius: 5px;
                margin:5px;
                padding: 5px;
                background-color: white;
                color:rgb(176, 18, 18);
                width: fit-content;
                border-radius: 10px;
            }
            .wrapper{
               display: block;
                background-image: url("https://wallpaperaccess.com/full/6080815.jpg");
                height:100%;
            }
            body
            {
height: 100%;
width: 100%;
background-size: cover;
position:absolute;
background-image: url("https://i.pinimg.com/originals/24/80/13/2480139b77228fea50b9be5da217305e.jpg");
            }
            #headexp{
                font-size: large;
                background-color: rgb(78, 22, 210);
            }